body {
    background-image: url("photo-1612988952181-c995680479a2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

img {
    border: 5px solid grey;

}

h1 {
    color: #211C84;
}

h3 {
    color: #4D55CC
}

p {
    color: #7A73D1;
    font-size: 20px
}

address {
    color: #5f2387;
}

bdo {
    color: #4D55CC;
    background-color: rgba(0, 0, 0, 0.175);
    font-size: 20px;
}

a:link {
    color: blue;
    background-color: #211C84;
    background-color: transparent;

}

a:visited {
    color: pink;
    background-color: transparent;

}

a:hover {
    color: red;
    background-color: transparent;

}

a:active {
    color: yellow;
    background-color: transparent;

}