body {
    background-image: url("photo-1612988952181-c995680479a2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

img {
    border: 5px solid grey;

}

video {
    border: 10px double grey
}

h1,
h3,
p,
address,
bdo,
a,
table,
th,
td {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-transform: auto;

}

h1 {
    color: #211C84;
    text-align: center;
}

h3 {
    color: #4D55CC;
    text-align: center;
    font-size: 25px;
}

p {
    color: #7A73D1;
    font-size: 20px
}

address {
    color: #5f2387;
    text-align: center;
}

bdo {
    color: #4D55CC;
    background-color: rgba(0, 0, 0, 0.175);
    font-size: 20px;
}

a:link {
    color: blue;
    background-color: #211C84;
    background-color: transparent;

}

a:visited {
    color: pink;
    background-color: transparent;

}

a:hover {
    color: red;
    background-color: transparent;

}

a:active {
    color: yellow;
    background-color: transparent;

}

table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.8);
}

th,
td {
    background-color: hsl(0, 0%, 100%);
    border: 2px solid #7A73D1;
    padding: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}